@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/*Gerais*/

body{
    font-family: 'Roboto', sans-serif;
}
.row{
    margin: 0;
}
.container{
    padding: 70px 0;
}

p , li{
    color: #444;
    font-size: 14px;
}

/*Bara de navegação*/

 .img-logo{
     width: 75px;
 }
 .nav-link{
     color: #fff;
     cursor: pointer;
 }
 .nav-link:hover{
     color: #fff;
 }

 /*Carrosel*/

.carousel {
    position: relative;
    height: 90vh;
}

.carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.container-fluid{
    padding: 0;
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: block;
    height: 100%;
}

.carrosel-titulos{
    font-size: 2.5rem;
}
.carrosel-p{
    margin-bottom: 6rem;
}
.carrosel-img{
    height: 100%!important;
    object-fit: cover;
}

.botao-topo{
    margin-bottom: 3rem;
    padding: 0.6rem;
    background-color: #3FB3FD;
    color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border-style: solid;
    border-color: #3FB3FD;
    border-width: 3px;
    transition: 0.3s;
}

.botao-topo:hover{
    background-color: transparent;
}

   
@media (max-width:426px) {
    .carousel {
        position: relative;
        height: 70vh;
    }
    .carrosel-titulos{
        font-size: 2rem;
    }
    .carrosel-p {
        margin-bottom: 4rem;
    }
}

/*Sobre a empresa*/

.about-area{
    background-color: #f9f9f9;
}
.titulo-padrao{
    color: #444;
    margin-bottom: 65px;
    font-size: 40px;
    text-align: center;
}
.titulo-padrao::before{
    content: '';
    position: absolute;
    border-top: 2px solid #333;
    width: 15%; 
    bottom: -70px;
    left: 42.5%;
}

.about-title{
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;

}

#about-list{
    list-style: none;
    padding-left: 0;
}

#about-list li{
    line-height: 35px;
}

#about-list i{
    color: #3FB3FD;
    padding-right: 0.5rem;
}

@media (max-width:426px) {
    .about-div{
        margin-top: 2rem;
    }
}


/*Serviços*/

.service-box{
    margin-bottom: 50px;
}

.service-box i , .service-box h4{
    transition: .5s;
}

.service-box i {
    font-size: 38px;
    margin-bottom: 20px;
    color: #444;
}

.service-box h4{
    margin-bottom: 10px;
}

.service-box:hover > i, .service-box:hover > h4 {
    color: #3FB3FD;
}

/*Dados*/

.circle-box div{
    padding: 0 40px;
}

progessbar-text{
    font-weight: bold;
    font-size: 32px;
}

.dados-da-empresa p{
    color: #fff;
    text-align: center;
    font-size: 26px;
}

#circleA{
    align-items: center;
    border: 5px solid #3FB3FD;
	border-radius: 100%;
	height: 184px;
	width: 200px;
    color: black;
}

.dados-p{
    color: black!important;
}
@media (max-width:768px) {
    .div-card-align{
        display: flex;
        justify-content: center;
    }
    
    .div-card-align > div{
        width: 70%!important;
    }
}


/*Desafios*/

.conatiner-desafio{
    padding-bottom: 8rem!important;
}

.p-desafio{
    text-align: center;
    font-size: 1rem;
    color: #fff!important;
}

.titulo-desafio{
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #fff!important;
}
.botao-paralax{
    justify-content: center;
    align-items: center;
    justify-self: center;
    padding: 1rem;
    background-color: transparent;
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 15px;
    transition: .3s;
    margin-bottom: 2rem;
}
.botao-paralax:hover{
    background-color: #3FB3FD;

}
#apply-area{
  background-image: url("./img/img/pattern.png");
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-repeat: no-repeat;
  background-size: cover;

}